<app-bread-crumb
[items]="currentPath"
></app-bread-crumb>

<form [formGroup]="productForm">
    <div class="card">
        <div class="card-header">
            {{ pageTitle }} 
        </div>
        <div class="card-body">
            <div class="row row-custom">

              <div class="col-md-4">
                  <mat-form-field class="col-md-12">
                      <input formControlName="name" matInput type="text" placeholder="Nome da Produto">
                  </mat-form-field>
              </div>
                
              <div class="col-md-4">
                <mat-form-field class="col-md-12">
                    <input formControlName="price" matInput type="text" placeholder="Preço do Produto">
                </mat-form-field>
              </div>

              <div class="col-md-4">
                <mat-form-field class="col-md-12" appearance="fill">
                  <mat-label>Categoria</mat-label>
                  <mat-select formControlName="categories">
                    <mat-option *ngFor="let category of categories$ | async" [value]="category">
                      {{ category.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

            </div>
        </div>
        <div class="card-footer">
            <div class="col-md">
                <input type="button" routerLink="/product" class="btn bg-light bg-light_color smart__card-footer" style="float: left;" value="Voltar">
            </div>
            <div class="col-md">
                <input type="button" routerLink="/product" (click)="save(productForm.value)" class="btn bg-light bg-light_color smart__card-footer" style="float: right;" value="Salvar">
            </div>
        </div>
    </div>

</form>
