/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~ngx-ui-switch/ui-switch.component.scss';

@import "~bootstrap/dist/css/bootstrap.css";

input[disabled]{
    color: #000;     
}

.button:active, 
 button:active,
.button:focus, 
 button:focus,
.button:hover, 
 button:hover{
    border:none !important;
    outline:none !important;
}

.bg-light {
    border-color: #3f729b;
    background-image: linear-gradient(to right top, #3f729b, #41739b, #44749b, #46759b, #48769b);
}

.bg-light_color {
    border-color: #3f729b;
    border-radius: 3px !important;
    color: whitesmoke;
}

.bg-primary {
    background-color: #7BA9D2 !important;
}

.btn-success {
    color: #fff;
    background-color: #00B6B7;
    border-color: #00B6B7;
}

.btn-success:hover {
    color: #fff;
    background-color: #0096b4;
    border-color: #0096B4;
    -webkit-box-shadow: 2px 6px 7px 2px rgb(63, 114, 155, 0.40);
    box-shadow: 2px 6px 7px 2px rgb(63, 114, 155, 0.40);
}

.btn-success:focus, .btn-success.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 150, 180, 0.5);
}

.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active, .show > .btn-success.dropdown-toggle {
    color: #fff;
    background-color: #0096b4;
    border-color: #0096B4;
}

.bg-light_color:hover {
    border-color: #3f729b;
    color: whitesmoke;
    cursor: pointer;
    -webkit-box-shadow: 2px 6px 7px 2px rgb(63, 114, 155, 0.40);
    box-shadow: 2px 6px 7px 2px rgb(63, 114, 155, 0.40);
}


.smart__card-footer {
    width: 10vw;
    height: 3em;
}

.wd__btn {
    width: 6vw;
}

.uppercase{
    text-transform: uppercase;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
